
/*-------------------------------------------------Estilos de la lista de contactos-------------------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

#cerrar-btn {
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: #22c55e;
  color: #dcfce7;
  border-radius: 8px;
}

#cerrar-btn:hover {
  background-color: #041d0d;
  color: #dcfce7;
}


.todo-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
}

.container {
  margin: auto;
}

.formulario {
  display: flex;
  
  justify-content: center;
  
}

.formulario__label {
  display: block; /*Para que ocupe el 100% de la pag*/
  font-weight: 700; /*fuente en negritas*/
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 4px;
  height: 34px;
  line-height: 34px;
  padding: 0 40px 0 10px;
  transition: .4s ease all;
}

.formulario__input:focus {
  border: 3.5px solid #0075FF;
  outline: none;/*Quita el bordeado por defecto del input*/
  box-shadow: 3px 0px 30px rgba(163,163 163, 0.4);  
}

.formulario__input-error {
  font-size: 15px;
  margin-bottom: 0;/*Al ser un parrafo, se agrega un margen por defecto que es mejor quitar*/
  display: none;
}

.formulario__input-error-activo {
  display: block;
} /*Esta clase aparece cuando el error esta activo*/

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 9px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

/*---------------------Estilos para validacion------------------------------------*/
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}


.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}




